p {
	font-family: 'Bellefair', serif;
	
}
body {
  background: lightgray;

}
h1 {
   font-family: 'Dosis', sans-serif;
   font-size: 35px;
   text-shadow: 4px 4px 4px #aaa; 
}

h2, h3 {
	 font-family: 'Dosis', sans-serif;
	 font-size: 25px;
	 text-shadow: 4px 4px 4px #aaa; 
}
/*Navigation*/

.navbar-custom {
    background-color: #4d1652;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.navbar.navbar-default a {
    color: #efefef;
    font-size: 35px;
}

.navbar.navbar-default li a {
    color: white;
    font-weight: thick;
    font-size: 25px;
    
}

#navbar-collapse {
  /*see about getting the navbar to collaps under the header in smaller viewports*/
}
/*Main Section Area*/

#wrap-text p { 
  line-height: 1.8; 
  font-size: 20px;
  margin: 2px;
}
#wrap-text .curve { 
  width: 45%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

/*Aside*/


/*Contact page*/
 .span6 {
    width: 100%;
    font-size: 20px;
    font-style: italic;
 }

#chat {
  color: yellow;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  padding: 4px;
}
.btn-xl {
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 10px;
}
.btn-custom {
  color: white;
  background-color: #4d1652;
}

.background-switch {
  text-align: center;
  color: white;
  width: 100px; 
  height: 40px;
  background-color:#4d1652;
}
.background-switch:hover {
  background-color: yellow; 
  color: #4d1652;
  border-radius: 30px;
  font-family: 'Indie Flower', cursive;
  }

.footer {
    background: #FFFFF0;
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #A9A9A9;
}

.navbar-text {
  text-align:center;
  float:none;
}