/* 

h1 {
    background-color: #08afa7;
    width: 20%;
    margin-left: 10%;
    color: white;
    font-size: 35px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


body {
    font-size: 18px;
    line-height: 32px;
	color: #777777;
    border-bottom: thin;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #f0ece8;
}

h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #08afa7;
}

.relativebox {
    position: relative;
    width: 650px;
    background: #feffff;
    margin: 40px;
    padding: 20px;

}



img#wrap {
    position: relative;
    float: left;
    margin: 15px;

}

/*Form elements*/
form{

}
label{
    display:block;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #666666;
    color: #777777;
    text-align: center;
} */
