
/* Basic HTML styles */
body {
  background: linear-gradient(90deg, #fff, #dddfd9 );
}

h2, h3 {
   font-family: 'Dosis', sans-serif;
   font-size: 25px;
   text-shadow: 4px 4px 4px #aaa;
}

p {
	font-family: 'Bellefair', serif;
}

html,body{
    height: 100%;
}

footer {

    clear: both;
    background: linear-gradient(50deg,  #4d1652, #b3a1b6);
    padding: 1em;
    text-align: center;
    height: 100px;

}
.footer {
  clear: both;
  background: linear-gradient(50deg,  #4d1652, #b3a1b6);
  padding: 1em;
  text-align: center;

}

/*==============================================================================================================================================
																																		NAVBAR
===============================================================================================================================================*/
.inactive:hover {
  background-color: #dddfd9;
  color: #4d1652;
  }


.navbar-default {
    background: linear-gradient(50deg,  #4d1652, #b3a1b6);
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-decoration: none;

}

.navbar.navbar-default a {
    font-size: 16px;

}
.navbar.navbar-default li a {
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.navbar-text {
  text-align:center;
  float:none;
	color: #fff;
}
.navbar-header {
  margin-left: 5px;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-brand {
	color: white;
}

/*===========================================================================================================================================
																																			ABOUT ME
=============================================================================================================================================*/
.wrap-text .curve {
  width: 45%;
  height: auto;
  min-width: 150px;
  float: left;
  margin-right:2em;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.wrap-text #opening-line {
  margin-top: 4.1875em;
  margin-bottom: 1.5em;
  color: black;
  font-weight: 700;
  font-size: 1.15em;
}
.wrap-text p {
  line-height: 1.8;
  font-size: 20px;
	margin: 3em;
}
#me{
	margin: auto;
}

#portfolio-image{
	width: 30%;
	margin:  0 2em 2em 0;
	/* margin-bottom: 2em; */
}




/*==================================CONNECTIONS CODE==========================*/
img.connections {
    margin: auto;
    position: relative;
    height: 40px;
    display: block;
    padding: 5px;
}
.connections-div{
		width: 100%;
		padding: 0;
		text-align: center;

	}

#Rails_icon {
    padding-bottom: 40px;
}
.fab {
  padding: 0 20px 0 20px;

}
#program_icons{
    text-align: center;
    padding: 20px 0 10px 0;
}
/*==================================social icons with js==============================*/


/* body {
  margin: 0;
  font-family: arial;
  font-size: 13px;
} */
.container {
  width: 10%;
  margin: 50px auto;
}
.social-container {
  height: 100%;
  position: relative;
}
.social-container .social {
  background-color: #b3a1b6;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  position: relative;
}
.social-container .social-toggle {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  color: black;
}
.social-container .social-drop {
  height: 300px;
  width: 70px;
  background: #b3a1b6;
  display: none;
  position: absolute;
  top: 55px;
  border-radius: 30px;
}
.social-container .social-drop ul {
  margin-top: 10px;
}
.social-container .social-drop li {
  font-size: 35px;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-left: -23px;
  color: black;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.social-container .social-drop .lk:hover {
  color: #00aced;
}
.social-container .social-drop .st:hover {
  color: #cb2027;
}
.social-container .social-drop .gh:hover {
  color: #517fa4;
}



/*=================================================================================================================================================
																																						CONTACT PAGE
==================================================================================================================================================*/

.background-switch {
  text-align: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color:#4d1652;
}
.background-switch:hover {
  background-color: #e6e625;
  color: #4d1652;
  border-radius: 30px;
  font-family: 'Indie Flower', cursive;
  }
.btn-custom {
  color: white;
  background-color: #4d1652;
}
.btn-xl {
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 10px;
}
.contact-me h1 {
   font-family: 'Dosis', sans-serif;
   font-size: 35px;
   color: #999e98;
}
#chat {
  color: #e6e625;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  padding: 4px;
}
.input{
  width: 80%;
  max-width: 700px;
  margin: 1%;
  line-height: 2em;
  padding: 6px;
  font-size: 1em;
  border-radius: 3px;
  border: none;
}
 .span6 {
    width: 90%;
    font-style: italic;
    max-width: 700px;
    margin: 1%;
    line-height: 2em;
    padding: 6px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    clear:both;
 }


/*=============================================================================================================================================
																																					PORTFOLIO PAGE
==============================================================================================================================================*/

 .photo-grid {
		 margin-right: 1em;
		 padding: 0;
		 width: 100%;
		 float: left;
		 text-align: center;
	}


 .photo-grid li {
	 display: inline-block;
	 margin: 1em;
	 width: 45%;
	 float: left;
	 overflow: hidden;
 }

 .photo-grid h3 img {
 	display: block;
 	height: auto;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   transition: all 300ms;
 	max-width: 100%;
 }

 .photo-grid figure {
 	height: 300px;
 	overflow: hidden;
 	position: relative;
 	width: 350px;
 }


 .photo-grid figcaption {

 	background: rgba(0,0,0,0.8);
 	height: 100%;
 	left: 0;
 	opacity: 0;
 	position: absolute;
 	right: 0;
 	top: 0;
 	width: 100%;
 	-webkit-transition: all 300ms;
 	-moz-transition: all 300ms;
 	transition: all 300ms;
 	-webkit-transition-delay: 100ms;
 	-moz-transition-delay: 100ms;
 	transition-delay: 100ms;
 	z-index: 100;
 }

 .photo-grid figcaption  p {

 	font-size: 1em;
 	text-shadow: 4em;
 	position: relative;
 	top: 110px;
 	width: 50%;
 	padding: 0.5em;
 	text-align: center;
 	margin: auto;
 	border-style: solid;
 	border-color: #b3a1b6;
 	border-width: 0.2em;
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
 	vertical-align: middle;
 }

 .photo-grid figcaption span {

 	font-size: 1.6em;
 	text-shadow: 4em;
 	font-style: bold;
 	position: relative;
 	color: purple;
 	top: 2em;
 	width: 50%;
 	text-align: center;
 	margin: auto;
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
 	vertical-align: middle;
 }


 .jobs  {
   color: #fff;
   text-decoration: none;
   position: absolute;
   bottom: 0px;
   width: 100%;
   padding: 3px;
   margin-bottom: 0;
   font-weight: 300;
   line-height: 30px;
   background-color: #4d1652;
   border-bottom: 0;
   z-index: 1;
   text-shadow: none;
   margin-left: 0px;
  letter-spacing: 1px;
 }
 /*===hover events===*/

 .photo-grid li:hover figcaption{
 	opacity: 2;
 }
 .photo-grid li:hover h5 {
 	opacity: 0;
 }
 .photo-grid .jobs:hover h5 {
 	opacity: 0;
 }
 .photo-grid li:hover img {
 	opacity: 1;
 }

 .photo-grid li:hover figure img {
 	-webkit-transform: scale(1.4);
 	-moz-transform: scale(1.4);
 	transform: scale(1.4);
 }

 .photo-grid li:hover figure h3 {
 	-webkit-transform: scale(1.4);
 	-moz-transform: scale(1.4);
 	transform: scale(1.4);
 }

 .photo-grid li:hover figcaption p {
 	-moz-transform: translateY(40px);
 	-webkit-transform: translateY(40px);
 	transform: translateY(40px);
 }

 #my-projects > div > ul> h3 {
   text-align: left;
   margin-left:15px;
 }

/*==============================================================================================================================================
																																		FOOTER
===============================================================================================================================================*/
.navbar .navbar-text{
	color: white;
  min-height: 100px;
}

/*===================================================================================================================================================
																																			MEDIA QUERIES
====================================================================================================================================================*/
@media all and (max-width: 1280px) {


	/*======ABOUT ME MEDIA QUERIES========*/
	#me {
		margin: 1em;

	}
	#portfolio-image{
		width: 50%;
		margin: 0.5em;
	}
	.wrap-text #opening-line {
		font-weight: bold;
		font-size: 1.15em;
		margin: 0.5em;
		display: inline-block;

	}
	.wrap-text p {
		line-height: 1.8;
		font-size: 20px;
		margin: 1em;
	}
	/*======PORTFOLIO MEDIA QUERIES========*/
	.photo-grid li {
		display: inline-block;
		margin: 1em;
		width: 100%;
		float: left;
		overflow: hidden;
	}

	.photo-grid {
			margin-right: 1em;
			padding: 0;
			width: 100%;
			float: left;
	 }
	  .jobs h3 a {
		    width: 100%;
		    height: 70px;
		    margin-right: 40px;
		    font-size: 50px;
		    padding: 20px;
		    margin-bottom: 40px;
	  }

	/*======CONTACT ME MEDIA QUERIES========*/
	.span6{
		  width: 100%;
		  height: 75%;
	}
	form input {
			width: 100%;
	}

	#messagebox {
			width: 100%;
	}

  .footer {
    margin-top: 40px;
    height: 100px;
  }


	/*======CONNECTIONS DIV MEDIA QUERIES========*/
	.connections-div{
			width: 100%;
			padding: 0;
			margin: 0;
			text-align: center;

		}
  .connections-div a {
    text-decoration: none;
    font-style: italic;
  }
}

@media all and (max-width: 991px) {

/*======NAVBAR MEDIA QUERIES========*/
  ul {


    width: 25%;
    li {
      float: right;
      a {
        padding: 10px 3%;
        line-height: 20px;
        border-top: 1px solid #333;
      }
    }
  }
		/*======ABOUT ME MEDIA QUERIES========*/

		#me {
			margin: 1em;

		}
		/* #portfolio-image{
			width: 40%;
			margin: 0.5em;
		} */
		.wrap-text #opening-line {
			font-weight: bold;
			font-size: 1.15em;
			margin: 0.5em;
			/* float: right; */
			display: inline-block;

		}
		.wrap-text p {
			line-height: 1.8;
			font-size: 20px;
			margin: 1em;
		}

		/*======PORTFOLIO MEDIA QUERIES========*/
    .photo-grid li {
      display: inline-block;
      margin: 1em;
      width: 100%;
      float: left;
      padding: 0;
    }

    .photo-grid ul{

        padding: 0;
        margin: 0;

      }
      div.row #my-projects{
          margin: 0;
          padding: 0;
        }


/*======CONTACT ME MEDIA QUERIES========*/
		form input {
			 width: 100%
		}
		#messagebox {
			  width: 100%;
		}
/*======CONNECTIONS DIV MEDIA QUERIES========*/
.connections-div{
		/* width: 100%; */
		padding: 0;
		margin: 0;
		text-align: center;
		clear: both;

	}
  img.connections {
      margin: auto;
      position: relative;
      height: 40px;
      display: inline;
      padding: 5px;
  }
}

@media all and (max-width: 768px) {

/*======NAVBAR MEDIA QUERIES========*/

   ul {

      width: 25%;
      li {
        float: none;
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
	  .navbar-header {
	      position: static;
	      width: 600px;
	      padding: 0px;
	      margin-left:5px;
	    }
	  .navbar-right {
	      position:static;
	      float: left;
	      margin: 3px;
	    }
	/*======ABOUT ME MEDIA QUERIES========*/

	#portfolio-image{
		width: 40%;
		margin: 0.5em;
	}
	.wrap-text #opening-line {
		font-weight: bold;
		font-size: 1.15em;
		margin: 0.5em;
		/* float: right; */
		display: inline-block;

	}
	.wrap-text p {
		line-height: 1.8;
		font-size: 20px;
		margin: 1em;
	}

	/*======PORTFOLIO MEDIA QUERIES========*/
  .photo-grid li {
    display: inline-block;
    margin: 1em;
    width: 100%;
    float: left;

    padding: 0;
  }

  .photo-grid ul{

      padding: 0;
      margin: 0;

    }
    div.row #my-projects{
        margin: 0;
        padding: 0;
      }

		 /*=======CONTACT ME MEDIA QUERIES============*/

		 .contact-me {
		 	margin: 1em;
		 }
	/*======CONNECTIONS DIV MEDIA QUERIES========*/

	.connections-div{
			width: 100%;
			padding: 0;
			margin: 0;
			text-align: center;

		}


}

/*====================================== DONT TOUCH BELOW MEDIA QUERY======================================================================*/
@media all and (max-width: 440px) {

	/*======NAVBAR MEDIA QUERIES========*/

     .navbar.navbar-default .navbar-custom ul li a{
      background: #4d1652;
      width: 25%;
      li {
        float: left;
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
		  .navbar.navbar-default .navbar-custom li a {
		    	width: 100%;

		  }
		  .navbar-header {
		      position: static;
		      width: 100%;
		    }
		  .navbar-right {
		      position:static;
		      float: left;
		      margin: 3px;
		    }

/*======ABOUT ME MEDIA QUERIES========*/
			#portfolio-image{
				width: 100%;
				margin: 0.2em;
			}
			.wrap-text #opening-line {
			  font-weight: bold;
			  font-size: 1.15em;
				margin-top: 1em;
				/* float: right; */
				display: inline-block;

			}
			.wrap-text p {
			  line-height: 1.8;
			  font-size: 20px;
			  margin: auto;
			}

      .wrap-text .curve {
        margin: auto;
      }

  #me {
    margin: auto;
    padding: 0;
  }



/*======PORTFOLIO MEDIA QUERIES========*/
		.photo-grid li {
			display: inline-block;
			margin: auto;
			width: 100%;
			float: left;
		  padding-bottom: 10px;
		}

	  .photo-grid ul{

	      padding: 0;
				margin: 0;

	    }
		  div.row #portfolio-div{
		      margin: 0;
		      padding: 0;
		    }

/*=======CONTACT ME MEDIA QUERIES============*/

		.contact-me {
			margin: auto;
		}
/*======CONNECTIONS DIV MEDIA QUERIES========*/

		  .connections-div{
					width: 100%;
					padding: 0;
					margin: 0;
					text-align: center;

		    }
				.navbar {
					margin: 0;
					padding: 0;
				}

  }
