
.photo-grid {
	/* margin: 1em auto; */
	min-width: 900px;
	text-align: center;

}


.photo-grid li {
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	display: inline-block;
	margin: 1em;
	width: 350px;
}

.photo-grid h3 img {
	display: block;
	height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
	max-width: 100%;
}

.photo-grid figure {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 350px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 350px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption{
	opacity: 1;
}
.photo-grid li:hover h3 {
	opacity: 0;
}

.photo-grid li:hover img {
	opacity: 1;
}

.photo-grid li:hover figure img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid li:hover figure h3 {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
/* lines below are from original master file */
body {
  background: linear-gradient(90deg, #fff, #dddfd9 );
}
.contact-me h1 {
   font-family: 'Dosis', sans-serif;
   font-size: 35px;
   color: #999e98;
}

h2, h3 {
   font-family: 'Dosis', sans-serif;
   font-size: 25px;
   text-shadow: 4px 4px 4px #aaa;
}

p {
	font-family: 'Bellefair', serif;
}

.input{
  width: 80%;
  max-width: 700px;
  margin: 1%;
  line-height: 2em;
  padding: 6px;
  font-size: 1em;
  border-radius: 3px;
  border: none;
}

/*Navigation for the top- the footer was coded as a bottom navbar*/

.navbar-custom {
    background: linear-gradient(90deg,  #4d1652, #b3a1b6);
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    text-decoration: none;

}


.navbar.navbar-default a {
    font-size: 35px;

}

.navbar.navbar-default li a {
    color: white;
    font-weight: thick;
    font-size: 25px;
}

.navbar-text {
  text-align:center;
  float:none;
}
.navbar-header {
  margin-left: 5px;
}
.navbar-default {
  border: none;
}
.footer {
    background: #FFFFF0;
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #A9A9A9;
    position: relative;
    clear: both;

}
/*About me*/
.wrap-text .curve {
  width: 45%;
  height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
.wrap-text .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
  font-size: 1.15em;
}
.wrap-text p {
  line-height: 1.8;
  font-size: 20px;
  margin: 2px;
}
/*Connections Section*/
img.connections {
    margin: 5px;
    position: relative;
    height: 40px;
}


/*Contact page*/
.background-switch {
  text-align: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color:#4d1652;
}
.background-switch:hover {
  background-color: #e6e625;
  color: #4d1652;
  border-radius: 30px;
  font-family: 'Indie Flower', cursive;
  }
.btn-custom {
  color: white;
  background-color: #4d1652;
}
.btn-xl {
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 10px;
}
#chat {
  color: #e6e625;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  padding: 4px;
}
 .span6 {
    width: 90%;
    font-style: italic;
    max-width: 700px;
    margin: 1%;
    line-height: 2em;
    padding: 6px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    clear:both;
 }

 /*portfolio page*/
img.portfolio-images {
    margin-left: 5px;
    position: relative;
    width: 250px;
    opacity: 0.8;
    height: 250px;
    float: left;
    overflow: auto;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}


.jobs  {
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  /* text-align: center; */
  background-color: #4d1652;
  border-bottom: 0;
  z-index: 1;
  text-shadow: none;
  margin-left: 0px;

}


/*Media Queries*/
@media only screen and (max-width: 980px) {

  .jobs h3 a {
    width: 100%;
    height: 70px;
    margin-right: 40px;
    font-size: 50px;
    padding: 20px;
    margin-bottom: 40px;

  }
  img.portfolio-images {
      width:100%;
      height: 100%;
      margin-left: 0px;
      float: left;
  }
 form input {
 width: 100%;
}

/* .imageSize {
  height: 100%;
  width: 50px;
} */
#messagebox {
  width: 100%;
}

.profile-pic {
  width: 100%;
  height: 75%;
}
  .span6{
  width: 100%;
  height: 75%;
}
.connections-div{
  padding: 300px;
  margin-bottom: 100px;
}
}

@media only screen and (max-width: 768px) {
  ul {

    width: 25%;
    li {
      float: right;
      a {
        padding: 10px 3%;
        line-height: 20px;
        border-top: 1px solid #333;
      }
    }
  }

    .jobs h3 a {
      height: 12%;
      padding: 3px;
      /* height: 5%;
      margin-left: 5px;
      font-size: 30px; */
      margin-bottom: 0px;


    }
    img.portfolio-images {
        width: 100%;
        height: 100%;

    }

    .connections-div{
      padding: 200px;
      margin: auto;
    }

/*had trouble with figuring out the image layout
*/
.profile-pic {
  width: 50%;
  height: 50%;
}

form input {
 width: 100%
}
#messagebox {
  width: 100%;
}


}

@media screen and (max-width: 640px) {

   ul {

      width: 25%;
      li {
        float: none;
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }

  .navbar-header {
      position: static;
      width: 600px;
      padding: 0px;
      margin-left:5px;
    }
  .navbar-right {
      position:static;
      float: left;
      margin: 3px;
    }
  .portfolio-pic {
       width: 640px;
       height: 640px;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
  }
  .jobs h3 a {
    width: 96%;
    margin-left: 5px;
    font-size: 30px;

  }
  img.portfolio-images {
      width: 100%;
      height: 100%;

  }
  .connections-div{
    padding: 170px;
    margin: auto;
  }
  .photo-grid {
    min-width: 250px;
    margin: 0;
    padding: 0;
  }
.photo-grid ul{
    margin: 0;
    padding: 0;
  }

}

@media (max-width: 599px) {
     .navbar.navbar-default .navbar-custom ul li a{
      background: #4d1652;
      width: 25%;
      li {
        float: left;
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
    /* .photo-grid {
      min-width: 250px;

      padding: 0;
    } */
  .photo-grid ul{
      margin-bottom: 50px;
      padding: 0;
    }
    div.row #portfolio-div{
      margin: 0;
      padding: 0;
    }
    img.portfolio-images {
        width: 100%;
        height: 100%;

    }

    .jobs h3 a {
      width: 92%;

    }
    .connections-div{
      padding: 80px;
      margin: auto;
    }

  .navbar.navbar-default .navbar-custom li a {
    width: 100%;

  }
  .navbar-header {
      position: static;
      width: 600px;
      padding: 5px;
      margin:5px;
    }
  .navbar-right {
      position:static;
      float: left;
      margin: 3px;
    }
  }
