body {
  background: lightgray;
}
h1 {
   font-family: 'Dosis', sans-serif;
   font-size: 35px;
   color: white;
}

h2, h3 {
   font-family: 'Dosis', sans-serif;
   font-size: 25px;
   text-shadow: 4px 4px 4px #aaa; 
}

p {
	font-family: 'Bellefair', serif;
}

/*Navigation for the top- the footer was coded as a bottom navbar*/

.navbar-custom {
    background-color: #4d1652;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.navbar.navbar-default a {
    color: #efefef;
    font-size: 35px;
}

.navbar.navbar-default li a {
    color: white;
    font-weight: thick;
    font-size: 25px;   
}

.navbar-text {
  text-align:center;
  float:none;
}
.footer {
    background: #FFFFF0;
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #A9A9A9;
    position: relative;
    clear: both;
}
/*About me*/
.wrap-text .curve { 
  width: 45%; 
  height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
.wrap-text .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
  font-size: 1.15em;
}
.wrap-text p { 
  line-height: 1.8; 
  font-size: 20px;
  margin: 2px;
}
/*Connections Section*/
.connections {
    margin: 5px;
    position: relative; 
    height: 40px;
}

/*Contact page*/
.background-switch {
  text-align: center;
  color: white;
  width: 100px; 
  height: 40px;
  background-color:#4d1652;
}
.background-switch:hover {
  background-color: yellow; 
  color: #4d1652;
  border-radius: 30px;
  font-family: 'Indie Flower', cursive;
  }
.btn-custom {
  color: white;
  background-color: #4d1652;
}
.btn-xl {
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 10px;
}
#chat {
  color: yellow;
  font-size: 35px;
  font-family: 'Indie Flower', cursive;
  padding: 4px;
}
 .span6 {
    width: 100%;
    font-size: 20px;
    font-style: italic;
    clear:both;
 }

 /*portfolio page*/
.portfolio-images {
    margin: 5px;
    position: relative; 
    width: 100%; 
}

.jobs h3{
  position: absolute;
  bottom: 20px;
  width: 100%
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/*Media Queries*/
@media only screen and (max-width: 980px) {
 
 form input {
 width: 100%;
}

.imageSize {
  height: 100%;
  width: 50px;
}
#messagebox {
  width: 100%;
}

.profile-pic {
  width: 100%;
  height: 75%;
}
  .span6{
  width: 100%;
  height: 75%;
}

}

@media only screen and (max-width: 768px) {
    ul {
      width: 25%;
      li {
        float: none; 
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }

  .span6{
  width: 90%;
  height: 75%;
  left: 5%;
  right: 5%;
}
/*had trouble with figuring out the image layout
*/
.profile-pic {
  width: 50%;
  height: 50%;
}

form input {
 width: 100%
}
#messagebox {
  width: 100%;
}

}

@media screen and (max-width: 640px) {
 
  ul {
    
      width: 25%;
      li {
        float: none; 
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
   
.navbar-header {
    position: static;
    width: 600px;
    padding: 0px;
    margin:0px;
  }
.navbar-right {
    position:static;
    float: left;
  }
.portfolio-pic {
     width: 640px;
     height: 640px;
}  

.profile-pic {
  width: 100%;
  height: 100%;
}

}

@media (max-width: 599px) {
    ul {
      background: #222;
      width: 25%;
      li {
        float: right; 
        a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333;
        }
      }
    }
  }
 

/*The portfolio images are distorted and I didn't fhave time to redownload the images at a larger size
